<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= media_image %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>
          <%= link_to @book.long_title, book_path(@book) %>
        </strong>
        <small>
          <%= @book.published %>
        </small>
        <br>
        <%= information_list %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <%= link_to t('.destroy'),
      book_path(@book),
      class: 'delete',
      data: {
        turbo_method: :delete,
        turbo_confirm: t('.confirm-delete')
    } %>
  </div>
</article>
