<%= form_with model: Book, class: 'mt-2 mb-2', url: inlays_path do |form| %>
  <form-columns class="columns">
    <div class="field column">
      <%= form.label :publication, class: 'label' %>
      <div class="select is-fullwidth">
        <%= form.select(:publication, Book.publications.keys.map{ |k| [Book.human_enum_name(:publication, k), k] }) %>
      </div>
    </div>
    <div class="field column">
      <%= form.label :issue, class: 'label' %>
      <%= form.number_field :issue, class: 'input' %>
    </div>
    <div class="field column">
      <%= form.label t('.filter-label'), class: 'label' %>
      <%= submit_tag t('.filter'), class: 'button is-primary' %>
    </div>
    <%= form.hidden_field(:book_ids, value: '357,374,415,365,363,362') %>
  </form-columns>
<% end %>
<form-columns class="columns">
  <div class="column is-half">
    <div class="box">
      <h3 class="title is-4"><%= t('.book-list') %></h3>
      <%= turbo_frame_tag 'book_results' do %>
        <%= render 'books/inlay_table', books: @books %>
      <% end %>
    </div>
  </div>
  <div class="column is-half">
    <div class="box">
      <h3 class="title is-4"><%= t('.book-selected') %></h3>
      <%= turbo_frame_tag 'selected_books' do %>
        <%= render 'books/inlay_table', books: nil %>
      <% end %>
      <%= form_with url: print_inlays_path, class: 'mt-2 mb-2', method: :post, data: {
      turbo: 'false' } do |form| %>
        <%= form.text_field :ids, class: 'input' %>
        <%= submit_tag t('.print-books'), class: 'button is-primary' %>
      <% end %>
    </div>
  </div>
</form-columns>
