<nav class="navbar is-link" data-controller="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <strong class="is-size-3 is-family-secondary"><%= t('app_title') %></strong>
    <% end %>

    <a role="button"
      class="navbar-burger"
      data-navbar-target="burger"
      data-action="navbar#toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <navbar-menu class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= link_to Book.model_name.human(count: 10), books_path, class: 'navbar-item' %>
      <%= link_to Story.model_name.human(count: 10), '#', class: 'navbar-item' %>
      <%= link_to Artist.model_name.human(count: 10), '#', class: 'navbar-item' %>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable mr-4">
          <%= link_to current_user.email, '#', class: 'navbar-link' %>
          <div class="navbar-dropdown is-right">
            <%= link_to 'Profile', edit_user_registration_path, class: 'navbar-item' %>
            <hr class="navbar-divider">
            <%= link_to 'Logout', '/users/sign_out', class: 'navbar-item', data: { turbo_method: :delete } %>
          </div>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to t('devise.shared.links.sign_up'), '/users/sign_up', class: 'button is-primary' %>
            <%= link_to t('devise.shared.links.sign_in'), '/users/sign_in', class: 'button is-light' %>
          </div>
        </div>
      <% end %>
    </div>
  </navbar-menu>
</nav>
