<nav class="navbar is-link" data-controller="navbar" id="nav-head">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <strong class="is-size-3 is-family-secondary"><%= t('app_title') %></strong>
    <% end %>

    <a role="button"
      class="navbar-burger"
      data-navbar-target="burger"
      data-action="navbar#toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <navbar-menu class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= link_to t('.print-inlay'), inlays_path, class: 'navbar-item' %>
      <%= link_to t('.search'), '#', class: 'navbar-item' %>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link"><%= current_user.email %></p>
          <div class="navbar-dropdown is-right">
            <%= link_to 'Profile', edit_user_registration_path, class: 'navbar-item' %>
            <hr class="navbar-divider">
            <%= link_to 'Logout', '/users/sign_out', class: 'navbar-item', data: { turbo_method: :delete } %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable mr-4">
          <%= turbo_stream_from current_user, :notifications_top %>
          <%= turbo_frame_tag 'notifications_bell', class: 'is-flex is-align-items-center' do %>
            <%= render 'notifications/notifications_bell', user: current_user %>
          <% end %>
          <% if current_user.notifications.any? %>
            <div class="navbar-dropdown is-right" id="notifications-list">
              <%= turbo_stream_from current_user, :public_notifications %>
              <%= turbo_frame_tag 'notifications_menu' do %>
                <% current_user.notifications.order(created_at: :desc).limit(5).each do |notification| %>
                  <%= render 'notifications/notification_navi', notification: %>
                <% end %>
              <% end %>
              <hr class="navbar-divider">
              <%= link_to t('.all-notifications'), notifications_path, class: 'navbar-item' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to t('devise.shared.links.sign_up'), '/users/sign_up', class: 'button is-primary' %>
            <%= link_to t('devise.shared.links.sign_in'), '/users/sign_in', class: 'button is-light' %>
          </div>
        </div>
      <% end %>
    </div>
  </navbar-menu>
</nav>
