<%= form_with model: book, class: 'mt-2', id: 'book_form' do |form| %>

  <form-main-columns class="columns">
    <form-form-column class="column is-8">
      <form-columns class="columns pb-0 mb-0">
        <div class="field column is-3">
          <%= form.label :code, class: 'label' %>
          <%= form.text_field :code, class: 'input' %>
        </div>
        <div class="field column">
          <%= form.label :publication, class: 'label' %>
          <div class="select is-fullwidth">
            <%= form.select(:publication, Book.publications.keys.map{ |k| [Book.human_enum_name(:publication, k), k] }) %>
          </div>
        </div>
        <div class="field column is-2">
          <%= form.label :issue, class: 'label' %>
          <%= form.text_field :issue, class: 'input' %>
        </div>
      </form-columns>
      <form-sub-columns class="column p-0">
        <div class="field">
          <%= form.label :title, class: 'label' %>
          <%= form.text_field :title, class: 'input' %>
        </div>
        <div class="field">
          <%= form.label :url, class: 'label' %>
          <%= form.text_field :url, class: 'input' %>
        </div>
        <form-columns class="columns">
          <div class="field column">
            <%= form.label :published, class: 'label' %>
            <%= form.number_field :published, class: 'input' %>
          </div>
          <div class="field column">
            <%= form.label :pages, class: 'label' %>
            <%= form.number_field :pages, class: 'input' %>
          </div>
        </form-columns>
      </form-sub-columns>
    </form-form-column>
    <form-image-column class="column">
      <div class="file">
        <%= form.label :cover, class: 'file-label' do %>
          <%= form.file_field :cover, type: 'file', class: 'file-input' %>
          <span class="file-cta">
            <span class="file-label">
              <%= t('.cover-choose') %>
            </span>
          </span>
        <% end %>
      </div>
      <figure class="image py-4">
        <%= image_tag book.cover if book.cover.attached? %>
      </figure>
    </form-image-column>
  </form-main-columns>
<% end %>
