<hero-box class="hero is-primary">
  <div class="hero-body">
    <p class="title is-family-secondary">
      <%= t('app_title') %>
    </p>
    <p class="subtitle">
      <%= t('app_tagline') %>
    </p>
  </div>
</hero-box>
<% if request.path == root_path %>
  <main-layout class="columns is-centered is-multiline mt-2">
    <% @books.each do |book| %>
      <main-box class="column is-12-tablet is-6-desktop is-4-fullhd">
        <%= render BookCardComponent.new(book:) %>
      </main-box>
    <% end %>
  </main-layout>
<% else %>
  <main-layout class="section is-centered mt-2">
    <% @books.each do |book| %>
      <%= render BookListComponent.new(book:) %>
    <% end %>
  </main-layout>
<% end %>
<%== render 'shared/pagy', pagy: @pagy %>
