<hero-box class="hero is-primary">
  <div class="hero-body columns">
    <p class="title is-family-secondary column">
      <%= @book.issue %> - <%= @book.title %>
    </p>
    <button-group class="buttons column is-right">
      <%= link_to t('.edit'), edit_book_path(@book), class: 'button is-small is-info m-1' %>
      <%= link_to t('.delete'),
        book_path(@book),
        class: 'button is-danger is-small m-1',
        data: {
          turbo_method: :delete,
          turbo_confirm: t('.delete-confirm')
        } %>
    </button-group>
  </div>
</hero-box>
<main-layout class="columns is-centered mt-2">
  <main-column class="column is-one-third">
    <figure class="media-left">
      <% if @book.cover.attached? %>
        <%= image_tag @book.cover, alt: @book.title %>
      <% else %>
        <img src="https://bulma.io/images/placeholders/1280x960.png">
      <% end %>
    </figure>
  </main-column>
  <main-column class="column">
    <ul class="list">
      <li class="list-item"><%= Book.human_attribute_name(:published) %>: <%= @book.published %></li>
      <li class="list-item"><%= Book.human_attribute_name(:pages) %>: <%= @book.pages %></li>
    </ul>
    <h2 class="subtitle"><%= t('.story-table-title') %></h4>
    <table class="table is-hoverable is-fullwidth is-narrow">
      <thead>
        <tr>
          <th><%= Story.human_attribute_name(:code) %></th>
          <th><%= Story.human_attribute_name(:title) %></th>
          <th><%= Story.human_attribute_name(:pages) %></th>
          <th><%= t('.story-credit-story') %></th>
          <th><%= t('.story-credit-drawings') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">abc</a></td>
          <td><a href="#">Lorem ipsum dolor sit amet</a></td>
          <td>25</td>
          <td>Romano Scarpa</td>
          <td>Romano Scarpa</td>
        </tr>
      </tbody>
    </table>
  </main-column>
</main-layout>
