<hero-box class="hero is-primary">
  <div class="hero-body columns">
    <p class="title is-family-secondary column is-8">
      <%= @book.long_title %>
    </p>
    <% if current_user %>
    <button-group class="buttons column is-right">
      <%= link_to t('.edit'), edit_book_path(@book), class: 'button is-small is-info m-1' %>
      <%= link_to t('.delete'),
          book_path(@book),
          class: 'button is-danger is-small m-1',
          data: {
            turbo_method: :delete,
            turbo_confirm: t('.delete-confirm')
          } %>
    </button-group>
    <% end %>
  </div>
</hero-box>
<main-layout class="columns is-centered mt-2">
  <main-column class="column is-one-third">
    <figure class="media-left">
      <% if @book.cover.attached? %>
      <%= image_tag @book.cover, alt: @book.title %>
      <% else %>
      <%= inline_svg_tag('book.svg') %>
      <% end %>
    </figure>
  </main-column>
  <main-column class="column">
    <ul class="list">
      <li class="list-item"><%= Book.human_attribute_name(:published) %>: <%= @book.published %></li>
      <li class="list-item"><%= Book.human_attribute_name(:pages) %>: <%= @book.pages %></li>
    </ul>
    <h2 class="subtitle"><%= t('.story-table-title') %></h4>
      <%= form_with model: Book, url: book_stories_scrapers_path, method: :post,
      class: 'mt-0 mb-5' do |form| %>
      <%= form.hidden_field :id, value: @book.id %>
      <%= form.submit t('.scrape-stories'), class: 'button is-small is-info' %>
      <% end %>
      <%= render 'stories/story_table', book: @book %>
  </main-column>
</main-layout>
