<%= turbo_frame_tag dom_id(role, :row) do %>
  <fake-row class="columns" id="<%= dom_id(role) %>-row">
    <fake-cell class="column"><%= Role.human_enum_name(:task, role.task) %></fake-cell>
    <fake-cell class="column"><%= link_to role.artist.name, artist_path(role.artist), data: { turbo_frame: '_top' } %></fake-cell>
    <% if current_user %>
      <fake-cell class="column is-flex">
        <p class="mr-1"><%= link_to t('.edit-role'),
          edit_role_path(role),
          class: 'button is-info is-small',
          data: {
            turbo_stream: true
          } %></p>
        <%= button_to t('.delete-role'), role_path(role), method: :delete, class: 'button is-danger is-small' %>
      </fake-cell>
    <% end %>
  </fake-row>
<% end %>
