<%= turbo_frame_tag 'search-book' do %>
  <table class="table is-hoverable is-fullwidth is-narrow" id="story-table">
    <thead>
      <tr>
        <th><%= Book.human_attribute_name(:title) %></th>
        <th><%= t('.add-book') %></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td>
          <%= result[:title] %><%= ": #{result[:subtitle]}" if result[:subtitle].present? %>
        </td>
        <td>
          <%= form_with url: holistic_scrapers_path, method: :post, data: {
            turbo_frame: '_top' } do |form| %>
            <%= form.hidden_field :code, value: result[:code] %>
            <%= form.submit t('.add-this'), class: 'button is-primary is-small' %>
          <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
