<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <section class="section m-0 p-0">
      <layout-container class="container">
        <layout-columns class="columns p-1 mb-1">
          <%= render 'shared/sidebar' if user_signed_in? %>
          <main class="column m-1 px-5 py-3 is-relative">
            <%= render 'shared/flashes' %>
            <%= yield %>
          </main>
        </layout-columns>
      </layout-container>
    </section>
    <%= render 'shared/footer' %>
  </body>
</html>
