<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <section class="section m-0 p-0">
      <layout-container class="container">
        <layout-columns class="columns p-1 mb-1">
          <sidebar-column class="column is-one-quarter m-1 px-5 py-3 box">
            <ul>
              <li>New Story</li>
              <li>New Books</li>
              <li>New Artist</li>
              <li>Print Inlay</li>
            </ul>
          </sidebar-column>
          <main class="column m-1 px-5 py-3">
            <%= yield %>
          </main>
        </layout-columns>
      </layout-container>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong><%= t('app_title') %></strong> <%= t('app_author') %>.
          <a href="http://opensource.org/licenses/mit-license.php"><%= t('app_license') %></a>.
        </p>
      </div>
    </footer>
  </body>
</html>
