<!DOCTYPE html>
<html>
  <head>
    <title>Lustige Taschenbücher Inlays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar' %>
    </div>
    <div class="container-fluid row">
      <div class="col-3 gx-5">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-9">
        <%= yield %>
      </div>
    </div>
    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
